<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block head_title %}FDP's Dota 2 Stats{% endblock %}</title>
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% stylesheets
        '@FDPMainBundle/Resources/public/css/normalize.min.css'
        '@FDPMainBundle/Resources/public/css/main.less' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}

    {% javascripts
        '@FDPMainBundle/Resources/public/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
    <header class="header">
        {% block header %}
            {{ include('FDPMainBundle::navigation.html.twig') }}
        {% endblock %}
    </header>
    {% block body %}{% endblock %}
    {% javascripts
        '@FDPMainBundle/Resources/public/js/vendor/jquery-1.11.1.min.js'
        '@FDPMainBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>